/* App.css */

.app-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 100vw;
    background-color: var(--background-main);
  }
  
  @media (min-width: 1024px) {
    .app-container {
      flex-direction: row;
      align-items: center;
    }
  }
  
  .sidebar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 5%;
    padding: 1rem 5px 1rem 5px;
  }
  
  @media (min-width: 1024px) {
    .sidebar {
      flex-direction: column;
      justify-content: space-between;
      width: 3%;
      height: 100%;
      padding: 3rem 0 3rem 0;
    }
  }
  
  .sidebar-section {
    display: flex;
    
    flex-direction: row;
    gap: 0.5rem;
  }
  
  @media (min-width: 768px) {
    .sidebar-section {
      
      gap: 2rem;
    }
  }
  
  @media (min-width: 1024px) {
    .sidebar-section {
     
      flex-direction: column;
    }
  }
  
  .icon-group {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  
  @media (min-width: 1024px) {
    .icon-group {
      flex-direction: column;
    }
  }
  
  .last-icon-group {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
  
  @media (min-width: 1024px) {
    .last-icon-group {
      flex-direction: column;
    }
  }
  

  .main-content-container {
    background-color: white;
    flex-grow: 0;             
    width: 100%;
    height: 100%;
    margin: 0 auto;            
    overflow: hidden;
    border-radius: 1rem;
    box-shadow: 0 25px 50px -12px rgba(0, 0, 0, 0.25);

  }
  
  @media (min-width: 1024px) {
    .main-content-container {
      margin: 0 5px 0 5px;
     /* width: 94%; */
      height: 98%;
    }
  }
  